body, *, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

.App {
  text-align: center;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  padding: 50px;
  width: calc(100vw - 0px);
  height: calc(100vh - 50px);
  overflow: hidden;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App main {
  display: flex;
  flex-flow: wrap;
  overflow: hidden;
  height: 100%;
}

.App main aside {
  width: 28%;
  background-color: #3d3d3d;
  height: 100%;
}

.App main aside ul {
  display: flex;
  flex-flow: column;
  justify-content: start;
  align-items: center;
  padding: 20px 0px;
  overflow: hidden;
  overflow-y: scroll;
  height: 100%;
}

.App main aside ul li.thumbnail-item {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App main aside ul li.thumbnail-item {
  width: 110px;
  display: block;
  margin-bottom: 20px;
}

.App main aside ul li.thumbnail-item.active { 
  pointer-events: none;
}

.App main aside ul li.thumbnail-item p {
  color: #f1f1f1;
}

.App main aside ul li.thumbnail-item * {
  /* width:100%;
  height:100%;
  margin: 0; */
}

.App main aside ul li img {
  width: 100%;
  object-fit: cover;
}

.App main section {
  width: 68%;
}

.App main section iframe {
  width:100%;
  height: 100%;
}

.App main section iframe body {
  display: flex;
  justify-content: center;
  align-items: center;
}
